<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Main page</title>
    </head>
    <body>
        <a href="/register">Register</a>
        <h1>LiNkeDiN</h1>
        <form th:action="@{/}" method="POST">
            <label>Search for users</label><br />
            <input type="text" name="search" /><br />
            <input type="submit" value="Search" />
        </form>
        <ul>
            <li th:each="user : ${list}">
                <a th:href="@{'/users/' + ${user.url}}" th:text=${user.name}></a>
            </li>
        </ul>
    </body>
</html>
