<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Main page</title>
    </head>
    <body>
        <h1>LiNkeDiN</h1>
        <form th:action="@{/}" method="POST">
            <label>Search for users</label><br />
            <input type="text" name="search" /><br />
            <input type="submit" value="Search" />
        </form>
        <ul>
            <li th:each="user : ${list}">
                <a th:href="@{'/users/' + ${user.url}}" th:text=${user.name}></a>
            </li>
        </ul>
        <div th:if="${isloggedin}">
            <h2>Create a post</h2>
            <form th:action="@{/posts/{user}(user=${loggedinuser.url})}" method="POST">
                <input type="text" name="content"/>
                <input type="submit" value="Post"/>
            </form>
            <h2>Feed</h2>
            <ul>
                <li th:each="post : ${shownposts}">
                    <p th:inline="text">[[${post.url}]]: [[${post.content}]]</p>
                </li>
            </ul>
        </div>
    </body>
</html>
