<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Profile</title>
    </head>
    <body>
        <p th:inline="text">This is the profile of [[${name}]]!</p>
        <div th:switch="${connection}">
            <form th:case="'null'" th:action="@{/users/{url}(url=${account.url})}" method="POST">
                <input type="submit" value="Send connection request!"/>
            </form>
            <div th:case='sent'>Connection request sent</div>
            <div th:case="'confirmed'">Connected</div>
        </div>
        <div th:if="${connection == 'itsyou'}">
            <p>Connections</p>
            <ul>
                <li th:each="rel : ${connections}">
                    <table>
                        <tr>
                            <td>
                                <a th:if="${loggedin.email == rel.to.email}" th:href="@{'/users/' + ${rel.from.url}}" th:text=${rel.from.name}></a>
                                <a th:if="${loggedin.email == rel.from.email}" th:href="@{'/users/' + ${rel.to.url}}" th:text=${rel.to.name}></a>
                            </td>
                            <td>
                                <form th:if="${rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=false)}" method="POST">
                                    <input type="submit" value="Remove connection"/>
                                </form>        
                            </td>
                            <td>
                                <form th:if="${!rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=true)}" method="POST">
                                    <input type="submit" value="Accept connection request" />
                                </form>
                            </td>
                            <td>
                                <form th:if="${!rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=false)}" method="POST">
                                    <input type="submit" value="Remove connection request" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </body>
</html>
