<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Profile</title>
    </head>
    <body>
        <h3 th:inline="text">This is the profile of [[${name}]]!</h3>
        <img th:if="${profilepicture != null}" width="300" height="300" th:src="@{/pictures/{id}(id=${profilepicture})}" />
        <div th:switch="${connection}">
            <form th:case="'null'" th:action="@{/users/{url}(url=${account.url})}" method="POST">
                <input type="submit" value="Send connection request!"/>
            </form>
            <div th:case='sent'>Connection request sent</div>
            <div th:case="'confirmed'">
                <p>Connected</p>
                <p>Skills</p>
                <table>
                    <tr th:each="mapEntry : ${skills}">
                        <td th:text="${mapEntry.key.name}" />
                        <td th:text="${mapEntry.value}" />
                        <td>
                            <form th:action="@{/skills/{user}(user=${account.url},skill=${mapEntry.key.name})}" method="POST">
                                <input type="submit" value="Commend"/>
                            </form>    
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${connection == 'itsyou'}">
            <form th:action="@{/pictures}" method="POST" enctype="multipart/form-data">
                <label for="file">Set profile picture:</label><br />
                <input type="file" name="file" id="file"/>
                <input type="submit" value="Submit!" />
            </form>
            <h3>Connections</h3>
            <ul>
                <li th:each="rel : ${connections}">
                    <table>
                        <tr>
                            <td>
                                <a th:if="${loggedin.email == rel.to.email}" th:href="@{'/users/' + ${rel.from.url}}" th:text=${rel.from.name}></a>
                                <a th:if="${loggedin.email == rel.from.email}" th:href="@{'/users/' + ${rel.to.url}}" th:text=${rel.to.name}></a>
                            </td>
                            <td>
                                <form th:if="${rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=false)}" method="POST">
                                    <input type="submit" value="Remove connection"/>
                                </form>        
                            </td>
                            <td>
                                <form th:if="${!rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=true)}" method="POST">
                                    <input type="submit" value="Accept connection request" />
                                </form>
                            </td>
                            <td>
                                <form th:if="${!rel.accepted}" th:action="@{/connection/{user}(user=${rel.from.url}, connect=false)}" method="POST">
                                    <input type="submit" value="Remove connection request" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <h3>Skills</h3>
            <table>
                <th>Skill</th>
                <th>Endorsements</th>
                <tr th:each="mapEntry : ${skills}">
                    <td th:text="${mapEntry.key.name}" />
                    <td th:text="${mapEntry.value}" />
                </tr>
            </table>
            <form th:action="@{/skills/{user}(user=${account.url})}" method="POST">
                <input type="text" name="skill"/>
                <input type="submit" value="Add a skill"/>
            </form>
        </div>
    </body>
</html>
