<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
    </head>
    <body>
        <h1>Register!</h1>
        <form th:action="@{/register}" method="POST">
            <label>E-mail</label><br />
            <input type="text" name="email" /><br />
            <label>First name</label><br />
            <input type="text" name="firstname" /><br />
            <label>Last name</label><br />
            <input type="text" name="lastname" /><br />
            <label>Password</label><br />
            <input type="password" name="password" /><br />
            <label>url (this is how people will find you f.ex. linkedinpirkka.herokuapp.com/users/mikejohnson )</label><br />
            <input type="text" name="url" /><br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
